body
{
   background-image:url(new.gif);
   background-repeat: no-repeat;
   -webkit-tap-highlight-color: transparent; 
   background-size: cover;
}
#spido {
    position: relative;
    left: 50px;
    top: 50px;
    transition: left .5s ease-in, top .5s ease-in;
    width: auto;height: 67px;
}
#contentContainer {
    height: 97.82vh;
    overflow: hidden;
    cursor: pointer;
}
